<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-light">
          <div class="carousel-item active">
            <img class="w-100 h-100" src="{{imgUrlProductList[0]?.url}}" alt="Image">
          </div>
          <div class="carousel-item" *ngFor="let img of imgUrlProductList,let i = index">
            <div>
              <img class="w-100 h-100" src="{{img.url}}" alt="Image">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
          <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
          <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30">
        <h3>{{product.name}}</h3>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Dung lượng:</strong>
          <form>
            <div class="custom-control custom-radio custom-control-inline"
                 *ngFor="let storage of listStorage,let i = index">
              <input  type="radio" class="custom-control-input" id="size-{{i}}" name="size" (click)="getProductDetail(storage.id)">
              <label class="custom-control-label" for="size-{{i}}">{{storage.name}}</label>
            </div>
          </form>
        </div>
        <div class="d-flex mb-4">
          <strong class="text-dark mr-3">Màu:</strong>
          <form>
            <div class="custom-control custom-radio custom-control-inline"
                 *ngFor="let color of listColor,let i = index">
              <input type="radio" class="custom-control-input" id="color-{{i}}" name="color" (click)="getProductDetail(color.id)">
              <label class="custom-control-label" for="color-{{i}}">{{color.name}}</label>
            </div>
          </form>
        </div>
        <h4 class="font-weight-semi-bold mb-4">{{productDetailList[0].price|currency:'VND'}}<sup>đ</sup></h4>
        <p class="mb-4">{{product.description}}</p>

        <div class="d-flex align-items-center mb-4 pt-2">
          <div class="input-group quantity mr-3" style="width: 130px;">
            <div class="input-group-btn">
              <button class="btn btn-primary btn-minus">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
            <div class="input-group-btn">
              <button class="btn btn-primary btn-plus">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Thêm vào giỏ hàng</button>
        </div>
        <div class="d-flex pt-2">
          <strong class="text-dark mr-2">Chia sẻ ngay:</strong>
          <div class="d-inline-flex">
            <a class="text-dark px-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
                <div class="card mt-1" style="border-radius: 1rem;padding: 10px">
                    <div>
                      <p>1. Mua online thêm quà:Tặng ốp lưng miễn phí khi đặt hàng Online</p>
                    </div>
                    <div>
                      <p>2. Phiếu mua hàng trị giá 50.000đ áp dụng mua sim</p>
                    </div>
                    <div>
                      <p>3. Giảm thêm 5% khi mua cùng sản phẩm bất kỳ có giá cao hơn <a
                        href="http://www.thegioididong.com/tin-tuc/giam-2-lan-cho-san-pham-thu-2-1495451" target="_blank">(Xem chi tiết)</a></p>
                    </div>
                    <div>
                      <p>4. Cơ hội trúng 2023 chỉ vàng (trị giá 5.5 triệu/giải). <a
                        href="http://www.thegioididong.com/tin-tuc/vui-tet-2023-trung-den-2023-chi-vang-tai-the-gioi-di-dong-tet-la-day-chu-dau-1495244">
                        (Xem chi tiết)</a></p>

                    </div>
                    <div>
                      <p>5. Giảm đến 15% gói Bảo hành mở rộng, Bảo hiểm rơi vỡ <a
                        href="https://www.thegioididong.com/tin-tuc/duoc-giam-gia-goi-bao-hiem-roi-vo-khi-mua-kem-iphone-1331129"
                        target="_blank">(Xem chi tiết)</a></p>
                    </div>
                    <div>
                      <p>6. Nhập mã CODEGYM giảm 2% tối đa 120.000đ cho đơn hàng từ 500.000đ trở lên khi thanh toán qua Ví Moca
                        trên
                        ứng dụng Grab <a
                          href="http://www.thegioididong.com/tin-tuc/thanh-toan-vi-moca-giam-toi-da-100k-1496979"> (Xem chi tiết)</a></p>
                    </div>
                </div>
      </div>

    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="bg-light p-30">
        <div class="nav nav-tabs mb-4">
          <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Mô tả</a>
          <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Thông số kĩ thuật</a>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-pane-1">
            <h4 class="mb-3">Mô tả sản phẩm</h4>
            <p>{{product.description}}</p>
          </div>
          <div class="tab-pane fade" id="tab-pane-2">
            <h4 class="mb-3">Thông số kĩ thuật</h4>
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead></thead>
                  <tbody>
                  <tr>
                    <th>Màn hình:</th>
                    <td>{{product.screen}}</td>
                  </tr>
                  <tr>
                    <th>Hệ điều hành:</th>
                    <td>{{product.operatingSystem}}</td>
                  </tr>
                  <tr>
                    <th>Camera sau</th>
                    <td>{{product.rearCamera}}</td>
                  </tr>
                  <tr>
                    <th>Camera trước:</th>
                    <td>{{product.frontCamera}}</td>
                  </tr>
                  <tr>
                    <th>Chip:</th>
                    <td>{{product.chip}}</td>
                  </tr>
                  <tr>
                    <th>RAM:</th>
                    <td>{{product.ram}} GB</td>
                  </tr>
                  <tr>
                    <th>Dung lượng lưu trữ:</th>
                    <td>128 GB</td>
                  </tr>
                  <tr>
                    <th>SIM:</th>
                    <td>{{product.simCard}}</td>
                  </tr>
                  <tr>
                    <th>Pin, Sạc:</th>
                    <td>{{product.battery}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Shop Detail End -->
