<div class="container-fluid mb-3">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="../../../../assets/img/banner-1.jpg"
                 style="object-fit: cover;">

          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="../../../../assets/img/banner-2.jpg"
                 style="object-fit: cover;">
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="../../../../assets/img/banner-3.jpg"
                 style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="../../../../assets/img/product-2.jpg" alt="">
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
          <h3 class="text-white mb-3">Khuyến mãi đặc biệt</h3>
          <a href="" class="btn btn-primary">Mua ngay</a>
        </div>
      </div>
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="../../../../assets/img/product-4.jpg" alt="">
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Giảm giá 20%</h6>
          <h3 class="text-white mb-3">Khuyến mãi đặc biệt</h3>
          <a href="" class="btn btn-primary">Mua ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featured Start -->

  <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1" (click)="displayMobile('Apple')">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <img class="text-primary m-0 mr-3" src="../../../../assets/img/logo-apple.jpg"
               style="height: 50px;width: 50px">
          <h5 class="font-weight-semi-bold m-0">Apple</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1" (click)="displayMobile('Samsung')">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <img class="text-primary m-0 mr-3" src="../../../../assets/img/logo-samsung.jpg"
               style="height: 50px;width: 70px">
          <h5 class="font-weight-semi-bold m-0">Samsung</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1" (click)="displayMobile('Xiaomi')">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <img class="text-primary m-0 mr-3" src="../../../../assets/img/logo-xiaomi.png"
               style="height: 50px;width: 50px">
          <h5 class="font-weight-semi-bold m-0">Xiaomi</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 pb-1" (click)="displayMobile('Oppo')">
        <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
          <img class="text-primary m-0 mr-3" src="../../../../assets/img/logo-oppo.jpg"
               style="height: 50px;width: 50px">
          <h5 class="font-weight-semi-bold m-0">Oppo</h5>
        </div>
      </div>
    </div>
  </div>
<form [formGroup]="rfSeach" (change)="search()">
  <!-- Featured End -->
  <div class="container-fluid">
    <div class="row align-items-center py-3 px-xl-5 d-none d-lg-flex">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 col-6">
        <div class="input-group">
          <input formControlName="name" type="text" class="form-control" placeholder="Tìm kiếm tên sản phẩm">
          <div class="input-group-append">
            <button class="input-group-text bg-transparent text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-6">
        <select formControlName="price">
          <option [value]="'0,300000000'">Tìm kiếm theo giá</option>
          <option [value]="'0,5000000'">Giá dưới 5 triệu</option>
          <option [value]="'5000000,10000000'">Giá từ 5 triệu - 10 triệu</option>
          <option [value]="'10000000,15000000'">Giá từ 10 triệu - 15 triệu</option>
          <option [value]="'15000000,20000000'">Giá từ 15 triệu - 20 triệu</option>
          <option [value]="'20000000,300000000'">Giá trên 20 triệu</option>
        </select>
        <select formControlName="category">
          <option [value]="''">Tìm kiếm theo hãng</option>
          <option [value]="'Apple'">Apple</option>
          <option [value]="'Samsung'">Samsung</option>
          <option [value]="'Oppo'">Oppo</option>
          <option [value]="'Xiaomi'">Xiaomi</option>
        </select>
      </div>
    </div>
  </div>
</form>
<!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Product Start -->
    <div class="col-lg-12 col-md-8">
      <div class="row pb-3">
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1" *ngFor="let product of productDisplayHomeList,let i = index ">
          <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden">
              <img class="img-fluid w-100" src="{{product.urls}}" alt="">
              <div class="product-action">
                <a class="btn btn-outline-dark btn-square" routerLink="cart"><i class="fa fa-shopping-cart"></i></a>
                <a class="btn btn-outline-dark btn-square" [routerLink]="['/detail/', product.id]"><i
                  class="fa fa-info"></i></a>
              </div>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate" [routerLink]="['/detail/', product.id]">
                <h5>{{product.name}}</h5></a>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>{{product.price|number}}<sup>đ</sup></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">

        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->

